


.about-profession {
	font-size: 1.125rem;
	margin-top: 0;
	margin-bottom: 0;
}

.about-profession:after {
	content: "\2002\002F\2002";
	display: inline;
	color: #636363;
	font-size: 1.125rem;
	font-weight: 500;
}

.about-profession:first-child:after {
	content: "\2002";
}

.about-profession:last-child:after {
	content: "\2002";
}

.blockquote-text:before {
	content: "\201C";
	display: inline;
}

.blockquote-text:after {
	content: "\201D";
	display: inline;
}

@media (min-width: 768px) {

	.about-section-title {
		transform: rotate(-90deg) translateY(3.8rem) translateX(3rem);
		transform-origin: left;
	}

}