.common-body {
	background-color: white;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font_light {
	font-weight: 300;
}

.font_bolder {
	font-weight: 500;
}

.font-buttler {
	font-family: "Butler", sans-serif;
}

.font_color_grey {
	color: #636363;
}

.font_color_black {
	 color: #000;
}

.section-title {
	font-size: 1.125rem;
}