@media screen and (max-width: 767px) {

	section {
		min-height: 100vh;
	}

	/* Hero section */
	#hero-section {
		background: no-repeat center/cover url('../img/hero-bg.jpg');
	}

	.hero-title {
		height: 45vh;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	.hero-title h1 {
		font-family: "Butler", sans-serif;
		font-weight: normal;
		font-size: 4.375rem;
		line-height: 5.25rem;
		display: block;
	}

	.hero-title h2 {
		line-height: 1.318125rem;
		font-size: 1.125rem;
		position: static;
		padding-bottom: 1rem;
		display: block;
	}

	/* About section */
	#about-section h2 {
		position: absolute;
		transform: rotate(0deg);
		top: 2rem;
		right: 2rem;
	}

	#about-section .container {
		display: flex;
		padding: 0;
		width: 100%;
		flex-direction: column;
	}

	#about-section .container > div {
		width: 100%;
	}

	#about-section .about-img {
		order: 1;
	}

	.about-img > img {
		object-fit: none;
		height: 100%;
	}

	.about-text .about-vertical-center {
		padding: 0;
		position: relative;
		transform: none;
		top: 0;
	}
	.about-text h3 {
		display: none;
	}

	.about-text .about-profession {
		padding: 2rem;
	}

	.about-text .about-profession span {
		display: block;
	}

	.about-text figure blockquote {
		padding: 2rem;
	}

	.about-text figure figcaption {
		display: block;
		font-family: "Butler", sans-serif;
		font-size: 4.875rem;
		font-weight: normal;
		text-align: center;
	}

	/* Designer section */
	#designer-section {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: auto;
	}

	#designer-section h2 {
		top: 2rem;
		right: 2rem;
		transform: rotate(0deg);
		width: auto;
	}

	.designers {
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 1rem;
		padding-left: 2rem;
	}

	.designer-element {
		width: 17rem;
		margin-right: 1rem;
		min-width: 17rem;
	}
	.designer-element > img {
		height: 24rem;
	}

	.designer-element:first-child {
		order: 1;
	}

	.designer-element:first-child > div {
		display: block;
		max-width: 100%;
	}

	.designer-element:first-child > img {
		max-width: 100%;
		object-fit: none;
		height: 24rem;
		object-position: 10% 100%;
	}

	/* Testimonials section */

	#testimonials-section {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: unset;
	}

	.testimonial-headline {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		padding: 1rem 2rem;
		text-align: right;
	}

	.testimonial-headline h2 {
		padding: 0;
	}

	.creativities {
		grid-row: 3 / 4;
		grid-column: 1 / 3;

		flex-flow: row wrap;
		transform: unset;
		padding: 1rem 2rem;
		justify-content: space-between;
	}

	.creativities .creativity p {
		transform: rotate(0deg);
	}

	.creativities .creativity:last-child {
		order:  -1;
	}

	.testimonial-image {
		display: none;
	}

	.testimonial-motivation {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}

	.testimonial-motivation .container {
		max-width: unset;
		margin: 0 2rem;
	}

	.testimonial-motivation .container img {
		max-height: 75vw;
		object-fit: cover;
		width: 100%;
	}

	.testimonial-motivation p {
		margin: 5rem 0;
	}


	/* Strong section * /
	#strong-section h2 {
		transform: unset;
		top: 2rem;
		right: 2rem;
		left: unset;
	}

	.strong-row {
		transform: translateX(1rem);
	}

	.strong-row-item {
		margin-right: 1rem;
		min-width: 15rem;
		max-width: 15rem;
	}

	.strong-row-item.item-text.active {
		order: -1;
		min-width: 15rem;
		max-width: 15rem;
		margin-right: 1rem;
	}
	
	.strong-row-item.item-text h3 {
		margin-top: -7rem;
	}

	/* Footer styles * /

	.mobile-menu {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid black;
		width: 100%;
	}

	.mobile-menu a {
		display: block;
		font-family: "Butler", sans-serif;
		font-weight: normal;
		font-size: 2.5rem;
		margin: 1rem 2.5rem;
		text-decoration: none;
		color: #000;
	}
	/* */



		/* Menu */
	.menu {
		position: fixed;
		top: unset;
		left: unset;
		right: unset;
		bottom: 0;
		width: 100%;
		height: calc(4rem + 1px);
	}

	.mobile-menu {
		display: flex;
		
		border-top: 1px solid black;
		width: 100%;
	}

	.menu__btn {
		display: none;
	}

	.menu__items {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		height: 100%;
		border-top: 1px solid black;
	}

	.menu__items a {
		display: block;
		font-family: "Butler", sans-serif;
		font-weight: normal;
		font-size: 2.5rem;
		margin: unset;
		text-decoration: none;
		color: #000;
		margin-top: 0.5rem;
	}

	.menu__items a span {
		display: none;
	}
}
