/* Main template styles */
* {
	font-family: 'Roboto', sans-serif;
}

section {
	height: 100vh;
	min-height: 600px;
	position: relative;
	max-width: 1065px;
	margin: 0 auto;
	text-align: center;
	background-image: url('../img/inside.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;

	line-height: 100vh;
	/* Вариант позиционирования на flex */
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	
	/* Если не вариант с background и локальной картинкой */
	/* background: none; */
}

section img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
}

.img-local {
	/* Вариант с img и локальной картинкой */
	display: none; 
}
.img-web {
	max-height: 630px;
	height: 60vw;

	/* На данный момент не поддерживает IE!!! */
	object-fit: cover;
	object-position: center;

	/* Вариант с img и картинкой с unsplash.com */
	display: none;
}

.hero-background {
	background-image: url('https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 60vw;
	max-height: 630px;

	/* Вариант с background и unsplash.com */
	display: none;
}

.hero-title {
	position: relative;
	background-color: white;
	text-align: center;
	font-size: 5.5rem;
	padding: 1.5em .5em 1.4em;
	z-index: 1;

	/* позиционирование с помощью inline-block */
	display: inline-block;
	vertical-align: middle;
}

.hero-title h1 {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1.1em;
	margin: 0;
}

.hero-title h2 {
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
}

.hero-section .caption {
	position: absolute;
	bottom: 3%;
	left: 55%;
	padding: 0;
	font: 300 1.125rem/1.2 "Butler", sans-serif;
	color: #8C8888;
}