/* Main template styles */
body {
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
	height: 100vh;
	min-height: 600px;
	position: relative;
}
/*
section:before {
	content: "\2014 \00A0 Creative studio";
	position: absolute;
	top: 80px;
	right: 33%;
	color: #8C8888;
	font-size: 18px;
	font-family: "Butler", sans-serif;
	font-weight: 400;
}

section:after {
	content: "\2014 \00A0 Creative studio";
	position: absolute;
	top: -80px;
	right: 33%;
	color: #8C8888;
	font-size: 18px;
	font-family: "Butler", sans-serif;
	font-weight: 400;
}
*/

/* Debug section start */
#hero-section {
	display: block;
}
#about-section {
	display: block;
}
#designer-section {
	display: block;
}
/* Debug section end */

/* Hero section styles */
#hero-section {
	max-width: 1065px;
	text-align: center;
	margin: 0 auto;
	line-height: 100vh;

	background-image: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

#hero-section:before {
	content: "";
} 

.hero-title {
	position: relative;
	background-color: white;
	font-size: 5.5rem;
	padding: 1.5em .5em 1.4em;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
}

.hero-title h1 {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1.1em;
	margin: 0;
}

.hero-title h2 {
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
}


/* About section styles */
#about-section .container {
	padding: 0 8rem;
	height: 100%;
}

#about-section .container > div {
	width: 50%;
	float: left;
	height: 100%;
}

#about-section h2 {
	position: absolute;
	transform: rotate(-90deg);
	bottom: 10vh;
	margin: 0;
	right: 0;
	font-size: 1.2rem;
	font-weight: 700;
}

/* Image side */
#about-section .about-img {
	overflow: hidden;
}

.about-img > img {
	object-fit: cover;
	height: 90%;
	object-position: center;
	width: 100%;
}

.about-text .about-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 8rem;
}

/* Text side */
.about-text .about-vertical-center {
	padding-left: 8rem;
}

.about-text h3 {
	font-family: "Butler", sans-serif;
	font-size: 5.4rem;
	font-weight: 300;
}

.about-text > div h4, span {
	font-size: 1.15rem;
	font-weight: 500;
	margin: 0;
	color: #636363;
}

.about-text blockquote {
	margin: 0;
}

.about-text blockquote p:before {
	content: "\201C";
	display: inline;
}

.about-text blockquote p:after {
	content: "\201D";
	display: inline;
}

.about-text blockquote p {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 2rem;
}


/* Designer section */
#designer-section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 900px;
}

#designer-section h2 {
	display: block;
	position: absolute;
	top: 22%;
	right: 29%;
	transform: rotate(-90deg);
	width: 0;
	font-size: 18px;
}

.designers {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	width: 100%;
}
.designer-element {
	width: 25%;
}

.designer-element:first-child {
	width: 50%;
}

.designer-element:first-child > div {
	display: flex;
	align-content: center;
	justify-content: center;
	max-width: 85%;
} 

.designer-element:first-child > img {
	max-width: 85%;
}

.designer-element strong {
	text-transform: uppercase;
}
