/* Main template styles */
* {
	font-family: 'Roboto', sans-serif;
}

section {
	height: 100vh;
	min-height: 600px;
	position: relative;
}

/* Fisrt section styles */

section.hero-section {
	max-width: 1065px;
	text-align: center;
	margin: 0 auto;
	line-height: 100vh;

	background-image: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.hero-title {
	position: relative;
	background-color: white;
	font-size: 5.5rem;
	padding: 1.5em .5em 1.4em;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
}

.hero-title h1 {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1.1em;
	margin: 0;
}

.hero-title h2 {
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
}

.hero-section .caption {
	position: absolute;
	bottom: 3%;
	left: 55%;
	padding: 0;
	font: 300 1.125rem/1.2 "Butler", sans-serif;
	color: #8C8888;
}