/* Main template styles */
* {
	font-family: 'Roboto', sans-serif;
}

section {
	height: 100vh;
	min-height: 600px;
	position: relative;
}

/* Hero section styles */

section.hero-section {
	max-width: 1065px;
	text-align: center;
	margin: 0 auto;
	line-height: 100vh;

	background-image: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.hero-title {
	position: relative;
	background-color: white;
	font-size: 5.5rem;
	padding: 1.5em .5em 1.4em;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
}

.hero-title h1 {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1.1em;
	margin: 0;
}

.hero-title h2 {
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
}


/* About section styles */

section.about {
	padding: 0 8rem;
	margin: 0 auto;
	max-width: 1440px;
}

.about > div {
	display: inline-block;
	width: 49.5%;
	float: left;
	height: 100%;
}

.about h2 {
	position: absolute;
	transform: rotate(-90deg);
	bottom: 10vh;
	margin: 0;
	right: 0;
	font-size: 1.2rem;
	font-weight: 700;
}

/* Image side */
.about .about-img {
	overflow: hidden;
}

div.about-img > img {
	object-fit: cover;
	height: 90%;
	object-position: center;
	width: 100%;
}

div.about-text .about-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 8rem;
}

/* Text side */
.about .about-text {
	width: calc(49.5% - 8rem);
	padding-left: 8rem;
}

.about-text h3 {
	font-family: "Butler", sans-serif;
	font-size: 5.4rem;
	font-weight: 300;
}

.about-text > div h4, span {
	font-size: 1.15rem;
	font-weight: 500;
	margin: 0;
	color: #636363;
}

.about-text blockquote {
	margin: 0;
}

.about-text blockquote p:before {
	content: "\201C";
	display: inline;
}

.about-text blockquote p:after {
	content: "\201D";
	display: inline;
}

.about-text blockquote p {
	font-family: "Butler", sans-serif;
	font-weight: 300;
	font-size: 2rem;
}