/* Main template styles */
* {
	font-family: 'Roboto', sans-serif;
}

section {
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1065px;
	margin: 0 auto;
}

/* Fisrt section styles */

.hero-section > div {
	padding: 5% 0;
}

.hero-background {
	background-image: url('https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	min-height: 630px;

	position: relative;
}

.hero-title {
	position: absolute;
	background-color: #fff;
}

.hero-title {
	position: absolute;
	background-color: #fff;
	left: 25%;
	width: 50%;
	top: 25%;
	text-align: center;
	padding: 48px 0;
}

.hero-title h1 {
	font-family: "ButlerLight", sans-serif;
	font-weight: 400;
	font-size: 5.4rem;
	line-height: 1rem;
}

.hero-title h2 {
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}

.hero-section .caption {
	position: absolute;
	bottom: 3%;
	left: 55%;
	padding: 0;
	font-family: "ButlerLight", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #8C8888;
}