/* General section */

* {
	font-family: 'Rubik', sans-serif;
	font-size: 13px;
}

h1,
h2 {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

section.chapter-2 p,
section.chapter-3 p {
	font-size: 12px;
}


/* Text decorations */
.oblique {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underscore {
	text-decoration: underline;
}