.menu {
	position: absolute;
	left: 50%;
	right: 50%;
	top: 2rem;
	z-index: 2;
}

.menu__input {
	display: none;
}

.menu__btn {
	display: block;
	width: 2rem;
	height: 1.5rem;

	position: relative;
	
	cursor: pointer;
}

.menu__btn-burger,
.menu__btn-burger::before,
.menu__btn-burger::after {
	display: block;
	position: absolute;

	width: 100%;
	min-width: 1.5rem;
	height: 2px;
	background-color: #616161;

	top: 0.5rem;
}
.menu__btn-burger::before {
	content: '';
	top: -0.5rem;
}
.menu__btn-burger::after {
	content: '';
	top: 0.5rem;
}

.menu__items {
	display: flex;
	position: relative;
	z-index: 3;
	flex-flow: column wrap;

	min-width: 10rem;

	background-color: #fff;
	display: none;
}

.menu__item {
	margin: 0.5rem 2rem;
}

.menu__input:checked ~ .menu__items {
	display: flex;
}