@media screen and (max-width: 767px) {

	.hero-section {
		background: no-repeat center/cover url('./../../img/hero-bg.jpg');
	}

	.hero-section__title-block {
		height: 45vh;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	.hero-section__title {
		font-family: "Butler", sans-serif;
		font-weight: normal;
		font-size: 4.375rem;
		line-height: 5.25rem;
		display: block;
	}

	.hero-section__sub-title {
		line-height: 1.318125rem;
		font-size: 1.125rem;
		position: static;
		padding-bottom: 1rem;
		display: block;
	}

}